{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" style="margin-top: 60px;">Hottest jobs</h1>

          <div class="row placeholders">
            {% for language in languages %}
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="{{ url_for('static'), filename='' }}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>{{ language }}</h4>
                  <span class="text-muted">Something else</span>
                </div>
            {% endfor %}
          </div>

          <h2 class="sub-header">Job opening</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              
              {% for title in titles %}
              <thead>
                <tr>
                  <th>{{ title }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                </tr>
              </tbody>
              {% endfor %}

            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}